<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DsubGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><userSettings>
        <DsubGui.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="NewLine" serializeAs="String">
                <value>\r</value>
            </setting>
            <setting name="FieldDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="ConnectOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DtrEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RtsEnable" serializeAs="String">
                <value>False</value>
            </setting>
        </DsubGui.Properties.Settings>
    </userSettings>
</configuration>
